.tag {
    border: none;
    padding: 3px 6px;
    background-color: var(--Background);
    color: var(--tuscan-red);
    border: solid #7d4f501a 1px;
    display: inline-flex;
    align-items: center;

    &--clear-btn {
        min-width: unset !important;
    }

    &--clear-btn-icon {
        height: 18px !important;
    }
}
